/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */

.modal-content {
	background-color: #04adc4;
	color: whitesmoke;
	margin: 10% auto;  /*15% from the top and centered */
	padding: 20px;
	border: 1px solid whitesmoke;
	width: 80%;  /*Could be more or less, depending on screen size */
	text-align: center;
} 
.modal-content > h1 {
    color: whitesmoke;
}

/* The Close Button */
.close {
	color: whitesmoke;
	float: left;
	font-size: 28px;
	font-weight: bold;
}

.agree {
	background-color: #03cae4;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;
	padding: 1.3rem;
}
.agree:hover{
	background-color: #008799;
}
.close:hover,
.close:focus {
	color: #04adc4;
	text-decoration: none;
	cursor: pointer;
}

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.row {
    margin: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: lightskyblue;
}

img {
	width: 400px;
	height: 150px;
}

@media screen and (max-width: 930px) {
	.column{
		float: none;
		width: auto;
		margin: 5px;
	}
	.modal{
		overflow-y: auto;
	}
}
